<div class="container">
  <h1>O que é o IMC?</h1>
  <p>
    O Índice de Massa Corporal (IMC) é uma medida que indica se uma pessoa está
    com o peso adequado em relação à sua altura. É calculado dividindo o peso
    (em kg) pela altura ao quadrado (em metros).
  </p>

  <h2>Classificação do IMC</h2>
  <p>
    De acordo com a tabela abaixo, o IMC é classificado em diferentes
    categorias:
  </p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Classificação</th>
        <th>IMC</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Magreza</td>
        <td>Menor que 18,5</td>
      </tr>
      <tr>
        <td>Normal</td>
        <td>Entre 18,5 e 24,9</td>
      </tr>
      <tr>
        <td>Sobrepeso</td>
        <td>Entre 25 e 29,9</td>
      </tr>
      <tr>
        <td>Obesidade Grau I</td>
        <td>Entre 30 e 34,9</td>
      </tr>
      <tr>
        <td>Obesidade Grau II (severa)</td>
        <td>Entre 35 e 39,9</td>
      </tr>
      <tr>
        <td>Obesidade Grau III (mórbida)</td>
        <td>Maior ou igual a 40</td>
      </tr>
    </tbody>
  </table>

  <button class="btn btn-primary" routerLink="/imc">Calcule seu IMC</button>
</div>
